* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 48px;
}

.mem {
    background-color: goldenrod;
}

.mem-header {
    border-top: 2px solid gray;
}

.img-container {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}

.mem-img {
    width: 100%;
}

.mem .img-container{
    display: none;
}

.mem:hover .img-container {
    display: block;
}

.mem:focus .img-container {
    display: block;
}

.mem:focus {
    outline: none;
}